$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-medium600: 600;
$fw-bold: 700;

$fs-sm: 12px;
$fs-md: 15px;

$base: 4px;

$padding-vertical: $base * 30;
$padding-vertical-sm: $base * 15;

$color-divider: #d8e3fe;

$transition: 0.2s;

$color-primary: #697ca6;
$secondary: #6188ff;
