a {
  color: #000000;
}
a {
  color: #39ff;
}
a {
  color: #3d4f9f;
}
a {
  color: #4074f8;
}
a {
  color: #495274;
}
a {
  color: #4c85ff;
}
a {
  color: #4c85ff;
}
a {
  color: #5283ff;
}
a {
  color: #565f82;
}
a {
  color: #5e80ff;
}
a {
  color: #5e81fe;
}
a {
  color: #6188ff;
}
a {
  color: #676f95;
}
a {
  color: #6888ff;
}
a {
  color: #697c;
}
a {
  color: #7382;
}
a {
  color: #8d96bd;
}
a {
  color: #8e96b7;
}
a {
  color: #b3cb;
}
a {
  color: #b4d2;
}
a {
  color: #b8d0;
}
a {
  color: #c7d3ff;
}
a {
  color: #d1d1e4;
}
a {
  color: #d1d6e3;
}
a {
  color: #d2e1ff;
}
a {
  color: #d43f3f;
}
a {
  color: #d4fe;
}
a {
  color: #d8e3fe;
}
a {
  color: #e0ff;
}
a {
  color: #e8ecf4;
}
a {
  color: #e9efff;
}
a {
  color: #efeff7;
}
a {
  color: #eff4ff;
}
a {
  color: #f1f5ff;
}
a {
  color: #f3f5ff;
}
a {
  color: #f4f7ff;
}
a {
  color: #f5f8ff;
}
a {
  color: #f6f9ff;
}
a {
  color: #fcfdff;
}
a {
  color: #ffd7d7;
}
a {
  color: #ffd7d7;
}
a {
  color: #ffffff;
}
