.section-customers {
  .section-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $padding-vertical-sm 0;

    a {
      opacity: 0.4;
      transition: $transition;

      &:hover {
        opacity: 1;
      }
    }

    @media (max-width: 1025px) {
      padding: 40px 0;
    }

    @media (max-width: 666px) {
      flex-wrap: wrap;
      justify-content: center;
      a {
        flex-basis: 45%;
        margin: 10px 0;
        text-align: center;
      }
    }

    @media (max-width: 500px) {
      padding: 20px 0;
    }
  }
}
