.section-hero-image {
  position: relative;
  background-color: #f4f7ff;

  .section-inner {
    @media (max-width: 500px) {
      padding: 20px 0;
    }
  }

  .dots {
    position: absolute;
    left: 50%;
    bottom: 28px;
    transform: translateX(-50%);
  }

  .swiper-pagination-bullet {
    cursor: pointer;
  }
}

.slider-hero-image {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    height: 650px;
    text-align: center;
    background-image: url('../../img/chart1.png');
    background-position: 50% 82%;
    background-size: cover;

    &-content {
      text-align: center;
    }
  }
}

.text {
  display: inline-flex;
  width: 55%;
  line-height: 1.5;
  text-align: center;

  @media (max-width: 500px) {
    width: 85%;
  }
}

.icon-play {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  border-radius: 100%;
  width: 52px;
  height: 52px;
  box-shadow: 0 10px 50px rgba(#c9d1e7, 0.6);
  background-color: #fff;

  &::before {
    content: '';
    display: block;
    margin-left: 3px;
    width: 10px;
    height: 11px;
    background: url('../../img/play-btn.svg');
  }
}
