.section-newsletter {
  background-color: #fcfdff;

  .newsletter-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  &__left {
    flex-basis: 40%;
    margin-bottom: 20px;

    @media (max-width: 1145px) {
      flex-basis: 100%;
      text-align: center;
    }

    &-title {
      h2 {
        @include quicksand();

        font-weight: $fw-bold;
        font-size: 18px;
        text-transform: initial;
        color: #3d4f9f;
      }
    }

    &-text {
      p {
        font-weight: normal;
        font-size: 14px;
        line-height: 26px;
        color: #8d96bd;
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;

    @media (max-width: 420px) {
      form {
        display: flex;
        flex-direction: column;
      }
    }

    input,
    .btn--secondary {
      border-radius: 5px;
      padding: 20px 60px;
      font-size: 13px;

      @media (max-width: 1025px) {
        padding: 10px 20px;
      }

      @media (max-width: 420px) {
        margin: 0 auto;
        margin-bottom: 10px;
        width: fit-content;
      }
    }

    input {
      @include quicksand();

      margin-right: 15px;
      border: none;
      padding-right: 23px;
      padding-left: 23px;
      min-width: 240px;
      font-weight: $fw-bold;
      line-height: 15px;
      color: #7a85ad;
      background-color: #efeff7;
    }

    .btn--secondary {
      cursor: pointer;
    }
  }
}
